// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 750;
  font-family: "Roboto Flex";

  font-display: swap;
  src:
    url("../fonts/RobotoFlex-Regular.ttf") format("ttf");
}

@font-face {
  font-style: normal;
  font-weight: 550;
  font-family: "Roboto Flex";

  font-display: swap;
  src:
    url("../fonts/RobotoFlex-Regular.ttf") format("ttf");
}
